{% extends "base.html" %}

{% block title %}Home - AuthApp{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center py-5">
            <h1 class="display-4">Welcome to AuthApp</h1>
            <hr class="my-4">
            <p>Register to create an account or login if you already have one.</p>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg me-2" href="{{ url_for('register') }}" role="button">Register</a>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
